[submodule "Engine/lib/SDL"]
	path = Engine/lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/lib/json"]
	path = Engine/lib/json
	url = https://github.com/nlohmann/json
[submodule "Engine/lib/glm"]
	path = Engine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/lib/komihash"]
	path = Engine/lib/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "Engine/lib/tinyobjloader"]
	path = Engine/lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Engine/lib/constexpr-md5-cpp"]
	path = Engine/lib/constexpr-md5-cpp
	url = https://github.com/Wodann/constexpr-md5-cpp.git
[submodule "Engine/lib/concurrentqueue"]
	path = Engine/lib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "Engine/lib/SDL_net"]
	path = Engine/lib/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "Engine/lib/spdlog"]
	path = Engine/lib/spdlog
	url = https://github.com/gabime/spdlog.git
